  @use 'variables' as v;


  #game-area-container {
      background-color: v.$black;
      display: flex;
      flex-direction: column;
      background-image: url(img/background.png);
      background-repeat: repeat-y;
      background-position: center;
      background-size: 50%;
      padding: 50px;
      min-width: 850px;
  }

  #game-area-divider {
      height: 50px;
      width: 100%;
      background-color: v.$black;
      background-image: url("img/logo.png");
      background-position-x: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 0px 1px 5px 11px v.$black;
  }

  .player-area {
      display: flex;

      &.enemy-player-area {
          flex-direction: row-reverse;
          margin-bottom: 10px;

          .player-area-overview {
              flex-direction: column-reverse;
              align-items: end;

              .player-character {
                  background-image: url("img/ratau-idle.gif");
              }
          }

          .player-area-col-container {
              align-items: end;
          }

          .player-area-col-title {
              order: 100;
          }

          .player-area-row {
              order: 1;
          }

          .player-area-row[data-value="0"] {
              order: 0;
          }
      }

      &.my-player-area {
          margin-top: 10px;

          .player-area-overview {
              .player-character {
                  background-image: url("img/lamb-idle.gif");
              }
          }

          .player-area-col-container {
              align-items: start;
          }

          .player-area-row {
              order: 0;
          }

          .player-area-row[data-value="0"] {
              order: 1;
          }
      }

      .player-area-overview {
          display: flex;
          flex-direction: column;
          width: 33%;

          .player-character {
              height: 100px;
              width: 200px;
              background-size: contain;
              background-position-x: 50%;
              background-repeat: no-repeat;
          }

          .player-area-text {
              font-weight: bold;
              color: white;
              text-align: center;
              width: 200px;

              &.player-area-title {
                  &::after {
                      margin-left: 5px;
                      content: "";
                      background-image: url(img/text-right-decor.png);
                      display: inline-block;
                      background-repeat: no-repeat;
                      width: 30px;
                      height: 15px;
                      background-size: contain;
                      background-position-y: 3px
                  }

                  &::before {
                      margin-right: 5px;
                      content: "";
                      background-image: url(img/text-left-decor.png);
                      display: inline-block;
                      background-repeat: no-repeat;
                      width: 30px;
                      height: 15px;
                      background-size: contain;
                      background-position-y: 3px
                  }
              }
          }

          .player-area-dice-tray {
              background-image: url("img/dice-tray.png");
              width: 200px;
              height: 130px;
              background-repeat: no-repeat;
              background-size: contain;

              .player-area-dice {
                  position: relative;
                  margin: auto;
                  margin-top: 30px;
              }
          }
      }

      .player-area-inner {
          width: 34%;


          .player-area-col-container {
              margin: auto;
              display: flex;
              max-width: 300px;

              .player-area-col {
                  width: 34%;
                  display: flex;
                  flex-direction: column;
                  height: 225px;

                  &.possible-move {
                      cursor: pointer;

                      .player-area-row {
                          background-color: rgba(150, 0, 0)
                      }
                  }


                  .player-area-row {
                      height: 60px;
                      width: 85%;
                      background: v.$black;
                      margin: auto;
                      margin-bottom: 3px;
                      align-content: center;
                      pointer-events: none;
                      opacity: 0.7;

                      .dice {
                          display: block;
                          margin: auto;

                          @for $i from 1 through 6 {
                              &.dice-#{$i} {
                                  background-position: -#{v.$dice-size * ($i - 1)} 0;
                              }
                          }
                      }
                  }

                  .player-area-col-title {
                      text-align: center;
                      font-weight: bold;
                      margin: 5px;
                      color: v.$black;
                      pointer-events: none;
                  }
              }
          }
      }

      .dice {
          background-image: url("img/dice.png");
          border-radius: 10%;
          background-size: 300px;
          height: v.$dice-size;
          width: v.$dice-size;

          &.dice-2x {
              background-image: url("img/dice.png"), linear-gradient(rgba(255, 255, 0, 0.4), rgba(255, 255, 0, 0.4));
              background-blend-mode: darken;
          }

          &.dice-3x {
              background-image: url("img/dice.png"), linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.4));
              background-blend-mode: darken;
          }

          &.mobile-dice {
              position: relative;
          }

          @for $i from 1 through 6 {
              &.dice-#{$i} {
                  background-position: -#{v.$dice-size * ($i - 1)} 0;
              }
          }
      }
  }